__pycache__/
*.pyc
target/
Configs/.config/btop/themes/colors.theme
Configs/.config/cava/config
Configs/.config/clipse/blacknode.json
Configs/.config/dunst/dunstrc
Configs/.config/hypr/scheme/hyprlang.conf
Configs/.config/hypr/themes/colors.lua
Configs/.config/kitty/colors.conf
Configs/.config/nvim/generated.lua
Configs/.config/rofi/colors.rasi
Configs/.config/waybar/colors.css
Configs/.config/wlogout/colors.css
Configs/.config/quickshell/
Configs/.config/blacknode/
Configs/.config/matugen/templates/quickshell.qml
Configs/.config/rofi/scripts/music.sh
Configs/.config/hypr/hyprlock.png
Configs/.local/bin/lib/
Scripts/lib/
