[SddmGreeterTheme]
Name=Material-you
Description=Google Pixel / Material You inspired Lockscreen Theme
Author=Darkkal44
Copyright=(c) 2026
License=MIT
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
QtVersion=6
