configuration {
    font:                           "Comfortaa 12";
    disable-history:                false;
    fullscreen:                     false;
    hide-scrollbar:                 true;
    sidebar-mode:                   false;
}
