@import "../colors.rasi"
@import "../shared/config.rasi"

* {
    background-color:               @surface-container;
    text-color:                     @on-surface;
}

window {
    transparency:                   "real";
    background-color:               transparent;
    border-radius:                  0px;
    location:                       west;
    anchor:                         west;
    width:                          90px;
    x-offset:                       0px;
    y-offset:                       0px;
}

mainbox {
    children:                       [ listview ];
    spacing:                        0px;
    margin:                         0px;
    background-color:               transparent;
}

listview {
    columns:                        1;
    border:                         0px;
    layout:                         vertical;
    spacing:                        6px;
    padding:                        10px;
    outline:                        0px;
    background-color:               @surface;
    border-radius:                  0px 999px 999px 0px;

}

element {
    background-color:               transparent;
    border-radius:                  999px;
    border:                         0px;
    padding:                        0px;
    margin:                         0px;
    outline:                        0px;
}

element-text {
    font:                           "feather 22";
    horizontal-align:               0.5;
    vertical-align:                 0.5;
    border:                         0px;
    outline:                        0px;
    padding:                        24px 0px;
    margin:                         0px;
}

element-icon {
    size:                           -3px;
    border:                         0px;
    margin:                         0px;
    padding:                        0px;
    background-color:               transparent;
}

element normal.urgent,
element alternate.urgent {
    text-color:                     @error;
    border-radius:                  999px;
}

element normal.active,
element alternate.active {
    text-color:                     @primary;
}

element selected {
    background-color:               @primary;
    text-color:                     @on-primary;
    border:                         0px;
    outline:                        0px;
    border-radius:                  999px;
}

element selected.urgent {
    background-color:               @error-container;
    text-color:                     @on-error-container;
}

element selected.active {
    background-color:               @primary;
    text-color:                     @on-primary;
}
