/*
 * BlackNode Dotfiles
 * Copyright (c) 2026 zhaleff
 *
 * Licensed under the MIT License.
 * You are free to use, copy, modify, merge, publish, distribute,
 * sublicense, and/or sell copies of this software, provided that
 * the original license and copyright notice are preserved.
 *
 * Created by: zhaleff
 * Project: BlackNode
 *
 * Repository: https://github.com/zhaleff/BlackNode
 */

@import "~/.config/rofi/colors.rasi"

configuration {
    font:                        "JetBrainsMono Nerd Font 13";
    show-icons:                  true;
    icon-theme:                  "Papirus-Dark";
    kb-row-tab:                  "";
}

window {
    width:                       680px;
    height:                      520px;
    transparency:                "real";
    fullscreen:                  false;
    border-radius:               24px 24px 0px 0px;
    background-color:            @surface;
    location:                    south;
    anchor:                      south;
    y-offset:                    0px;
}

mainbox {
    spacing:                     20px;
    padding:                     20px;
    orientation:                 vertical;
    children:                    [ "inputbar", "listview" ];
    background-color:            transparent;
}

inputbar {
    spacing:                     0px;
    padding:                     0px;
    children:                    [ "entry" ];
    background-color:            transparent;
}

entry {
    background-color:            @surface-container-low;
    text-color:                  @on-surface;
    cursor:                      text;
    vertical-align:              0.5;
    placeholder:                 "Search...";
    placeholder-color:           @on-surface-variant;
    padding:                     12px 4px 12px 4px;
    border-radius:                24px;
    border:                       0px 0px 1px 0px;
    border-color:                 @outline-variant;
}

listview {
    enabled:                     true;
    columns:                     1;
    lines:                       11;
    spacing:                     2px;
    padding:                     0px;
    cycle:                       true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      vertical;
    background-color:            transparent;
    text-color:                  @on-surface;
}

element {
    spacing:                     0px;
    padding:                     11px 12px;
    cursor:                      pointer;
    background-color:            transparent;
    text-color:                  @on-surface-variant;
    border-radius:                14px;
}

element normal.normal {
    background-color:            transparent;
    text-color:                  @on-surface-variant;
}

element selected.normal {
    background-color:            @primary;
    border-radius: 999px;
    text-color:                  @on-primary;
}

element-icon {
    size:                         32px;
    cursor:                       inherit;
    background-color:             transparent;
    text-color:                   inherit;
}

element-text {
    vertical-align:              0.5;
    horizontal-align:            0.0;
    cursor:                      inherit;
    background-color:            transparent;
    text-color:                  inherit;
    margin:                      0px 0px 0px 12px;
    font:                        "JetBrainsMono Nerd Font 16";
}

textbox {
    text-color:                  inherit;
    background-color:            inherit;
    vertical-align:              0.5;
    horizontal-align:            0.5;
}
