@import "../colors.rasi"
@import "../shared/grid.rasi"

window {
    background-color: @surface;
}

listview {
    columns: 6;
    lines: 1;
}

element selected.normal {
    background-color: @secondary-container;
}
