@import "colors.css";

* {
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin: 0px 4px;
  transition: all 0.25s cubic-bezier(0.3, 0.0, 0.0, 1.0);
  min-height: 0;
}

window#waybar {
  background-color: @surface;
  border-radius: 999px;
  margin: 4px 6px;
  padding: 0 8px;
}

tooltip {
  background-color: @surface;
  color: @on-surface-variant;
  border-radius: 10px;
  padding: 10px 16px;
  border: 1px solid alpha(@outline, 0.2);
}

tooltip label {
  color: @on-surface-variant;
  font-size: 12px;
  font-weight: 600;
}

#hollow-left-1,
#hollow-left-2,
#hollow-left-3,
#hollow-left-4,
#hollow-left-5,
#hollow-left-6,
#hollow-left-7,
#hollow-center-1,
#hollow-center-2,
#hollow-right-1,
#hollow-right-2,
#hollow-right-3,
#hollow-right-4,
#hollow-right-5,
#hollow-right-6,
#hollow-right-7,
#hollow-right-8,
#hollow-left-5,
#hollow-left-6,
#hollow-left-7,
#hollow-left-8,
#hollow-right-9,
#hollow-right-10,
#hollow-right-11,
#hollow-right-12 {
  background-color: alpha(@outline, 0.12);
  border-radius: 6px;
  padding: 6px 10px;
  margin: 6px 2px;
}

#hollow-right-5 {
  border-radius: 999px 0px 0px 999px;
}

#hollow-right-3 {
  border-radius: 0px 999px 999px 0px;
}

#hollow-left-2 {
  border-radius: 999px 0px 0px 999px;
}

#hollow-left-1 {
  border-radius: 0px 999px 999px 0px;
}

#hollow-left-1:hover,
#hollow-left-2:hover,
#hollow-left-3:hover,
#hollow-left-4:hover,
#hollow-left-5:hover,
#hollow-left-6:hover,
#hollow-left-7:hover,
#hollow-center-1:hover,
#hollow-center-2:hover,
#hollow-right-1:hover,
#hollow-right-2:hover,
#hollow-right-3:hover,
#hollow-right-4:hover,
#hollow-right-5:hover,
#hollow-right-6:hover,
#hollow-right-7:hover,
#hollow-right-8:hover,
#hollow-left-5:hover,
#hollow-left-6:hover,
#hollow-left-7:hover,
#hollow-left-8:hover,
#hollow-right-9:hover,
#hollow-right-10:hover,
#hollow-right-11:hover,
#hollow-right-12:hover {
  background-color: alpha(@secondary-container, 0.5);
  border-radius: 999px;
  transition: all 0.25s cubic-bezier(0.3, 0.0, 0.0, 1.0);

}

.module {
  background-color: transparent;
  color: @on-surface;
  padding: 0 4px;
  margin: 0;
}

#workspaces {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  background-color: alpha(@outline, 0.2);
  color: @on-surface;
  border-radius: 8px;
  padding: 0 6px;
  margin: 0 3px;
  animation: 20s ease-in-out 1;
  transition: background-color 0.4s cubic-bezier(.55, -0.68, .48, 1.682),
    padding 0.4s cubic-bezier(.55, -0.68, .48, 1.682),
    border-radius 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button.active {
  background-color: @primary;
  color: @on-primary;
  border-radius: 8px;
  padding: 2 8px;
  animation: 20s ease-in-out 1;
  transition: background-color 0.4s cubic-bezier(.55, -0.68, .48, 1.682),
    padding 0.4s cubic-bezier(.55, -0.68, .48, 1.682),
    border-radius 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button:hover {
  background-color: @primary;
  color: @on-primary;
  border-radius: 999px;
  padding: 0 4px;
  animation: 20s ease-in-out 1;
  transition: background-color 0.3s cubic-bezier(.55, -0.68, .48, 1.682),
    padding 0.3s cubic-bezier(.55, -0.68, .48, 1.682),
    border-radius 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}
