@import "colors.css";

@define-color warning #FF8C8C;
@define-color caution #FFEE8C;

* {
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin: 0px 3px;
  transition: all 0.25s cubic-bezier(0.3, 0.0, 0.0, 1.0);
  min-height: 0;
}

window#waybar {
  background-color: transparent;
  border-radius: 999px;
  margin: 4px 2px;
  padding: 0 8px;
}

.module {
  background-color: transparent;
  color: @on-surface;
  padding: 0 4px;
  margin: 0;
}

tooltip {
  background-color: @surface;
  color: @on-surface;
  border-radius: 12px;
  padding: 24px 32px;
  border: 1px solid alpha(@outline, 0.2);
}

tooltip label {
  color: @on-surface;
  font-size: 14px;
  font-weight: 800;
}

#hollow-right-1,
#hollow-right-3,
#hollow-left-2,
#hollow-left-3,
#hollow-center-2,
#hollow-left-1,
#hollow-right-5,
#hollow-distro,
#hollow-center,
#hollow-right-2 {
  background-color: @surface;
  padding: 12px 14px;
  border-radius: 10px;
  margin: 0px;
  border: 1px solid alpha(@outline, 0.1);
}

#custom-playingStatus {
  margin: 0px 2px;
}

#custom-microphonePrivacy,
#custom-cameraPrivacy,
#custom-notDisturb,
#custom-recordingPrivacy,
#wireplumber {
  margin: 0px 4px;
}

#network,
#backlight,
#battery {
  margin: 0px 4px;
}

#hollow-right-1,
#hollow-center-2,
#hollow-distro {
  border-radius: 32px 10px 10px 32px;
}

#hollow-right-3,
#hollow-center,
#hollow-left-2 {
  border-radius: 10px 32px 32px 10px;
}

#custom-logoutMenu {
  color: @primary;
  margin: 0px 0px 0px -6px;
}

#custom-bluetooth {
  margin: 0px -4px 0px 2px;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  color: @on-surface;
  border-radius: 10px;
  padding: 0 6px;
  margin: 0px;
  transition: background-color 0.4s cubic-bezier(.55, -0.68, .48, 1.682),
    padding 0.4s cubic-bezier(.55, -0.68, .48, 1.682),
    border-radius 0.4s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button.active {
  background-color: @primary;
  color: @on-primary;
  padding: 2px 8px;
}

#workspaces button:hover {
  background-color: @primary;
  color: @on-primary;
  padding: 0 4px;
  transition: background-color 0.3s cubic-bezier(.55, -0.68, .48, 1.682),
    padding 0.3s cubic-bezier(.55, -0.68, .48, 1.682),
    border-radius 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

/* Battery */
#battery.warning {
  color: @caution;
}

#battery.critical {
  color: @warning;
}

#battery.critical:not(.charging) {
  animation: blink 1.5s linear infinite;
}

#battery.charging {
  color: @primary;
}

/* Privacy modules */
#custom-notDisturb.dnd-active,
#custom-cameraPrivacy.cam-active,
#custom-recordingPrivacy.recording,
#custom-microphonePrivacy.mic-active,
#wireplumber.muted {
  color: @warning;
}

#wireplumber {
  padding: 0px 10px 0px 0px;
}

#idle_inhibitor.activated {
  color: @primary;
}
